go 1.21.3

use (
	./Elementary/01-HelloWorld
	./Elementary/02-Greetings
	./Elementary/11-SumOfAlternatingSeries
	./Elementary/ListStrings/02-reverse-list-in-place
	./Elementary/ListStrings/06-palindrome
	./Elementary/ListStrings/07-three-functions
	./Elementary/ListStrings/Largest-Element-in-List
	./Elementary/03-Greet-Alice-Bob
	./Elementary/04-sum-n-numbers
	./Elementary/05-multiples
	./Elementary/06-choose-operation
	./Elementary/07-multiplication-table-12
)
