go 1.21.4

use (
	./Elementary/01-HelloWorld
	./Elementary/02-Greetings
	./Elementary/03-Greet-Alice-Bob
	./Elementary/04-sum-n-numbers
	./Elementary/05-multiples
	./Elementary/06-choose-operation
	./Elementary/07-multiplication-table-12
	./Elementary/08-prime-numbers
	./Elementary/09-guessing-game
	./Elementary/10-print-leap-years
	./Elementary/11-SumOfAlternatingSeries
	./ListStrings/01-largest-element-in-list
	./ListStrings/02-reverse-list-in-place
	./ListStrings/03-element-occurs-in-list
	./ListStrings/04-odd-positions-in-list
	./ListStrings/05-running-total-of-a-list
	./ListStrings/06-palindrome
	./ListStrings/07-three-functions
	./ListStrings/08-perfect-squares
	./ListStrings/09-concatenates-two-lists
	./ListStrings/10_combines_two_lists
	./ListStrings/11-merging-two-sorted-lists
	./ListStrings/12-rotates-a-list-by-k-elements
	./ListStrings/13-first-100-Fibonacci-numbers
	./ListStrings/14-list-of-digits
	./ListStrings/15-arithmetic-operations
	./ListStrings/17-sorting-algorithms
	./ListStrings/18-binary-search
	./ListStrings/19-rectangular-frame
	ListStrings/20-pig-latin
)
