go 1.21.6

use (
	./01-Elementary/01-HelloWorld
	./01-Elementary/02-Greetings
	./01-Elementary/03-Greet-Alice-Bob
	./01-Elementary/04-sum-n-numbers
	./01-Elementary/05-multiples
	./01-Elementary/06-choose-operation
	./01-Elementary/07-multiplication-table-12
	./01-Elementary/08-prime-numbers
	./01-Elementary/09-guessing-game
	./01-Elementary/10-print-leap-years
	./01-Elementary/11-SumOfAlternatingSeries
	./02-ListStrings/01-largest-element-in-List
	./02-ListStrings/02-reverse-List-in-place
	./02-ListStrings/03-element-occurs-in-List
	./02-ListStrings/04-odd-positions-in-List
	./02-ListStrings/05-running-total-of-a-List
	./02-ListStrings/06-palindrome
	./02-ListStrings/07-three-functions
	./02-ListStrings/08-perfect-squares
	./02-ListStrings/09-concatenates-two-lists
	./02-ListStrings/10_combines_two_lists
	./02-ListStrings/11-merging-two-sorted-lists
	./02-ListStrings/12-rotates-a-List-by-k-elements
	./02-ListStrings/13-first-100-Fibonacci-numbers
	./02-ListStrings/14-List-of-digits
	./02-ListStrings/15-arithmetic-operations
	./02-ListStrings/16-convert-number-to-base
	./02-ListStrings/17-sorting-algorithms
	./02-ListStrings/18-binary-search
	./02-ListStrings/19-rectangular-frame
	./02-ListStrings/20-pig-latin
	./03-Intermediate/01-outputs-all-possibilities
	./03-Intermediate/03-data-structure-for-graphs
	./03-Intermediate/02-leap-year-rule
	./03-Intermediate/02-leap-year-rule/02-1-leap-year-GraphQL
	./03-Intermediate/06-english-to-morse
	./03-Intermediate/07-longest-palindromic-substring
	./03-Intermediate/04-DOT-representation-graph
	./03-Intermediate/05-automatically-generates-essays
	./03-Intermediate/08-interface-for-List
	./03-Intermediate/09-fixed-chunk-of-memory
)
